/* About.module.css */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 3px solid blue;
  border-radius: 50px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  border-bottom: solid 1px black;
}

.description {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  color: #213547;
  border-bottom: solid 1px black;

}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 3px;
  margin-bottom: 1px;
  border-bottom: solid 1px black;

}

.featuresList {
  list-style-type: disc;
  margin-left: 20px;
  color: #213547;
  padding: 0.5px;
  text-align: left;


}
.styles.featuresList img {
  width: 0px;
  height: 0px;
}

.teamContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

