body {
  width: 100%;
}

#all-clubs-container {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  background-color: aqua;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

#header {
  background-color: brown;
}

#genres {
  background-color: grey;
  display: flex;
}

#left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 5px 2px;
}

#label {
  background-color: rgb(74, 74, 214);
  border: 2px solid black;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  margin: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu button{
  background-color: white;
  color: black;
}
.dropdown-menu div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu button:hover,
.dropdown-menu div:hover {
  background-color: #f1f1f1;
}

input[type="checkbox"] {
  margin-right: 10px;
}
