#footerbar {
  justify-content: center;
  padding: 10px 40px 12px;
  color: #213547;
  background-color: #1717179c;
  text-align: center;
}

#footerbar a {
  color: white;
}

#berlin-title-f {
  color: white;
  font-size: 25px;
}

#clubs-title-f {
  color: #751515;
  font-size: 25px;
}
