#homepage {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #070315;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

#clubs-homepage {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
