#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161616;
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar a {
  color: white;
}

#berlin-title {
  color: white;
  font-size: 35px;
}

#clubs-title {
  color: #751515;
  font-size: 35px;
}

#login-button {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: medium;
  padding: 10px 15px;
  background-color: transparent;
}

#logout-button {
  color: white;
  border: 0px;
  border-radius: 20px;
  font-size: medium;
  padding: 10px 15px;
  background-color: #751515;
}
